<!DOCTYPE html>
<html lang="en">
<%- include('./components/header.ejs') %> 
<body>
        <div class="container border border-black d-grip gap-2 mx-auto col-6">
            <div class="mb-3 "><a href="/login" class="btn btn-primary">Login</a></div>
            <div class="mb-3"><a href="/l" class="btn btn-primary">Create Local Link</a></div>
        </div>
    <%- include('../views/components/footer.ejs') %> 
</body>
</html>